{% extends 'base.html.twig' %}
{% block body %}
    {{ dump() }}
    <div class="container-fluid">
        <div class="timeButtons">
            <span><button id="btn_today">Heute</button></span><br>
            <span><button id="btn_tomorrow">Morgen</button></span>
        </div>
        <div class="row">
            <div class="col-md-12 hide_tasks">
                <a href="#" class="btn btn-sm btn-default" id="hideTasks"><i class="fas fa-arrow-circle-left"></i></a>
                <ul class="tasks container" id="task_today">
                    {% for task in taskToday %}

                        <div class="card text-center">
                            <div class="card-header">
                                {{ task.title }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ task.description }}</p>
                                <ul>
                                    {% if task.checkListData != null %}

                                        {% for checklist in task.checkListData %}
                                            <li>{{ checklist.name }}</li>
                                            {% if checklist.check %}
                                                {% for subTask in checklist.check %}
                                                    <li>{{ subTask.name }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                </ul>

                            </div>
                            <div class="card-footer text-muted">
                                <a href="#" class="btn btn-primary">FINISH</a>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
                <div class="tasks container" id="task_tomorrow">
                    {% for task in taskTomorrow %}

                        <div class="card text-center">
                            <div class="card-header">
                                {{ task.title }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ task.description }}</p>
                                <ul>
                                    {% if task.checkListData != null %}

                                        {% for checklist in task.checkListData %}
                                            <li>{{ checklist.name }}</li>
                                            {% if checklist.check %}
                                                {% for subTask in checklist.check %}
                                                    <li>{{ subTask.name }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                </ul>

                            </div>
                            <div class="card-footer text-muted">
                                <a href="#" class="btn btn-primary">FINISH</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="js/script.js"></script>
{% endblock %}