{% extends 'base.html.twig' %}
{% block title %}Aufgaben Liste{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="timeButtons">
            <div class="xpull" id="xpullButtons">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="btn_today">Heute ({{ taskTodayCount }})</button>
                </div>
                <div class="col-md-12">
                    <button id="btn_tomorrow">Morgen ({{ taskTomorrowCount }})</button>
                </div>
            </div>
        </div>

        <div class="row" id="tasks" style="word-break: normal">
            <div class="col-md-12">
                <a href="#" class="btn btn-sm btn-default" id="hideTasks"><i class="fas fa-arrow-circle-left"></i></a>
                <div class="tasks" id="task_today">
                    <div class="xpull" id="xpullTaskToday">
                    </div>
                    {% if taskToday is iterable %}
                        <form method="post" id="checkListForm" name="checkListForm"
                              action="/setCheckListItemCompleted">
                            {% for task in taskToday %}
                                <div class="card text-center task_card">
                                    <div class="card-header collapsed" style="cursor:pointer;" data-toggle="collapse"
                                         href="#task_1_{{ loop.index }}"
                                         aria-controls="task_1_{{ loop.index }}">
                                        <p>{{ task.title }}</p>
                                    </div>
                                    <div class="collapse" id="task_1_{{ loop.index }}">
                                        <div class="card-body ">
                                            {% if task.description != null %}
                                                <p class="card-text">{{ task.description }}</p>
                                            {% endif %}
                                            <ul>
                                                {% if task.checkListData != null %}

                                                    {% for checklist in task.checkListData %}
                                                        <p class="checkbox-title">{{ checklist.name }}</p>
                                                        {% if checklist.check %}
                                                            {% for subTask in checklist.check %}
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                               onchange="submitForm('checkBox_{{ checklist.name }}_{{ loop.index }}','CheckListId_{{ checklist.name }}','{{ subTask.name }}')"
                                                                               class="custom-control-input"
                                                                               id="checkBox_{{ checklist.name }}_{{ loop.index }}"
                                                                               {% if subTask.isChecked %}checked
                                                                               disabled{% endif %}
                                                                               value="{{ subTask.itemId }}">
                                                                        <label class="custom-control-label"
                                                                               for="checkBox_{{ checklist.name }}_{{ loop.index }}">{{ subTask.name }}</label>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                        <input type="hidden" id="CheckListId_{{ checklist.name }}"
                                                               value="{{ checklist.checkListId }}">

                                                    {% endfor %}

                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <button type="button"
                                                    onclick="setTaskValuesInModal('{{ task.id }}','{{ task.title }}',this)"
                                                    class="btn btn-gray" data-toggle="modal"
                                                    data-target="#finish_task">
                                                Abschlie&szlig;en
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    {% else %}
                        <p>{{ taskToday }}</p>
                    {% endif %}
                </div>
                <div class="tasks" id="task_tomorrow">
                    <div class="xpull" id="xpullTaskTomorrow">
                    </div>
                    {% if taskTomorrow is iterable %}
                        <form method="post" id="checkListForm" name="checkListForm"
                              action="/setCheckListItemCompleted">
                            {% for task in taskTomorrow %}
                                <div class="card text-center task_card">
                                    <div class="card-header collapsed" style="cursor:pointer;" data-toggle="collapse"
                                         href="#task_1_{{ loop.index }}"
                                         aria-controls="task_1_{{ loop.index }}">
                                        <p>{{ task.title }}</p>
                                    </div>
                                    <div class="collapse" id="task_1_{{ loop.index }}">
                                        <div class="card-body ">
                                            {% if task.description != null %}
                                                <p class="card-text">{{ task.description }}</p>
                                            {% endif %}
                                            <ul>
                                                {% if task.checkListData != null %}

                                                    {% for checklist in task.checkListData %}
                                                        <p class="checkbox-title">{{ checklist.name }}</p>
                                                        {% if checklist.check %}
                                                            {% for subTask in checklist.check %}
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                               onchange="submitForm('checkBox_{{ checklist.name }}_{{ loop.index }}','CheckListId_{{ checklist.name }}','{{ subTask.name }}')"
                                                                               class="custom-control-input"
                                                                               id="checkBox_{{ checklist.name }}_{{ loop.index }}"
                                                                               {% if subTask.isChecked %}checked
                                                                               disabled{% endif %}
                                                                               value="{{ subTask.itemId }}">
                                                                        <label class="custom-control-label"
                                                                               for="checkBox_{{ checklist.name }}_{{ loop.index }}">{{ subTask.name }}</label>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                        <input type="hidden" id="CheckListId_{{ checklist.name }}"
                                                               value="{{ checklist.checkListId }}">

                                                    {% endfor %}

                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <button type="button"
                                                    onclick="setTaskValuesInModal('{{ task.id }}','{{ task.title }}',this)"
                                                    class="btn btn-gray" data-toggle="modal"
                                                    data-target="#finish_task">
                                                Abschlie&szlig;en
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    {% else %}
                        <p>{{ taskTomorrow }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="finish_task" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sind Sie sich sicher, das Sie die Aufgabe erledigt haben?
                    <p class="description-modal-unchecked"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <form method="POST" id="cardForm">
                        <button id="card_id" name="card_id" type="submit" class="btn btn-gray" value="">Aufgabe
                            abschließen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}
{% block javascripts %}
    <script src="js/task.js"></script>
    <script src="js/library/xpull.js"></script>
{% endblock %}
