{% extends 'base.html.twig' %}
{% block title %}Boards{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" id="row_heute">
            <div class="col" id="div_heute">
                <form method="GET" action="/showTasks" id="boardForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tasks container">
                                    {% for board in boards %}
                                        {#<button id="boards" value="{{ board.id }}" name="board">#}
                                        <div class="card text-center task_card card-rounded">
                                            <button id="{{ board.id }}" class="card-header card-header-rounded"
                                                    type="button" onclick="buttonClick('{{ board.id }}')"
                                                    value="{{ board.id }}"
                                                    name="board">
                                                {{ board.name }}
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button id="boardSubmit" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function buttonClick(id) {
            $(".card").click(function () {
                var button = document.getElementById(id);
                button.classList.add('button-active');
                // document.getElementsByClassName("card-header").classList.add('button-active');
            });
        }
    </script>
    {#<script src="js/submitForm.js"></script>#}
{% endblock %}