{% extends 'base.html.twig' %}

{% block title %}Boards{% endblock %}

{% block body %}
    <div class="container-fluid" id="container">
        <div class="row" id="row_heute">
            <div class="col" id="div_heute">
                <form method="GET" action="/showTasks" id="boardForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tasks container">
                                    {% for board in boards %}
                                        {#<button id="boards" value="{{ board.id }}" name="board">#}
                                        <div class="card text-center task_card card-rounded">
                                            <button id="{{ board.id }}" class="card-header card-header-rounded"

                                                    type="button" onclick="buttonClick('{{ board.id }}')"

                                                    value="{{ board.id }}"

                                                    name="board">

                                                {{ board.name }}

                                            </button>

                                        </div>

                                    {% endfor %}
                                    <input type="hidden" id="selectedBoards" name="selectedBoards" value="">
                                </div>
                            </div>
                        </div>
                        <div class="button-bottom">
                            <div class="row">
                                <div class="col-md-6">
                                    <button id="boardSubmit"
                                            class="btn btn-gray sticky-top text-center boardButton"
                                            onclick="submitForm()"
                                            type="button">Submit
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button id="boardReset"
                                            class="btn btn-gray sticky-top text-center boardButton"
                                            onclick="resetForm()"
                                            type="button">Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            // Init xpull plugin for demo
            $('#xpull1').xpull({
                'callback': function () {

                }
            });

        });

        function buttonClick(id) {

            var button = document.getElementById(id);

            if (button.classList.contains('button-active')) {

                button.classList.remove('button-active');

            } else {

                button.classList.add('button-active');

            }

        }


        function submitForm() {

            var boards = [];

            var i = 0;

            $("#boardForm .button-active").each(function (index) {

                valu = $(this).val();

                boards[i] = valu;

                i++;

            });
            document.getElementById('selectedBoards').value = JSON.stringify(boards);

            $("#boardForm").submit();

        }

        function resetForm() {
            $("#boardForm .button-active").each(function () {
                thisButton = $(this);
                id = thisButton.attr('id');
                document.getElementById(id).classList.remove('button-active');
            });
        }


    </script>

    {#<script src="js/submitForm.js"></script>#}

{% endblock %}